* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
  
  }
  :root {
    --color1: #072227;
    --color2: #35858b;
    --color3: #4fbdba;
    --color4: #aefeff;
    --black: #000;
    --white: #fff;
    --lightgray: #d3d3d3;
    --red: rgb(238, 62, 62);
  }
  html {
    font-size: 62.5%;
    overflow-x: hidden;
  }
  .container {
    max-width: 1100px;
    margin: 0 auto;
    padding-bottom: 5rem;
    height: 100vh;
    background-color: var(--lightgray);
  }

/* addToCart.php */
/* addToCart.php */
/* addToCart.php */
/* addToCart.php */

.shopping_cart table {
  text-align: center;
  width: 100%;
}
.shopping_cart table thead th {
  padding: 1.5rem;
  font-size: 1.6rem;
  color: var(--white);
  background-color: var(--color2);
}
.table_bottom {
  background-color: var(--color1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  margin: 1rem 0 3rem 0;
}
.bottom_btn {
  color: var(--black);
  font-size: 1.3rem;
  background-color: var(--color4);
  padding: 1rem;
}
.bottom_btn span {
  color: green;
}

.delete_all_btn {
  background-color: var(--color1);
  color: var(--white);
  font-size: 1.3rem;
  padding: 1.5rem;
}
.delete_all_btn .fa-trash {
  color: var(--red);
  margin-right: 0.5rem;
}
.quantity_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.quantity_box input {
  width: 40%;
  padding: 0.5rem;
}
.update_quantity {
  color: var(--white);
  padding: 0.5rem;
  background-color: var(--color1);
  margin: 1rem 0;
}
td {
    padding: 1rem;
    font-size: 1.5rem;
    color: var(--color1);
    border: 1px solid var(--white);
    text-transform: uppercase;
  }
img{
    width: 20%;
    margin: 0 auto;
}