/*-------- Admin.Php---------*/
/*-------- Admin.Php---------*/
/*-------- Admin.Php---------*/
/*-------- Admin.Php---------*/
/*-------- Admin.Php---------*/
/*-------- Admin.Php---------*/

body{
    min-height: 100vh;
    background-color: #388b6f;
    margin: 0 auto;
}
body.dark{
    background-color: #707070;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: #fff;
}
nav .menu-item{
    display: flex;
    flex-direction: column;
    height: calc(100% - 70px);
    justify-content: space-between;
   
}
nav .logo-name{
    align-items: center;
}
nav .logo-name .logo_name{
    font-size: 22px;
    font-weight: 600;
    margin-left: 54px;
    
}

.menu-item li{
    list-style: none;
    padding: 10px;
}
.menu-item li a{
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 50px;
    position: relative;
}
.menu-item li a:hover::before{
    content: "";
    position: absolute;
    left: -7px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: #0e4bf1;
}
.menu-item li a i{
    font-size: 24px;
    min-width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #707070;
}
.menu-item li a .link-name{
    font-size: 18px;
    font-weight: 400;
    color: #707070;
}
.menu-item .nav-link li a:hover i,
.menu-item li a:hover .link-name{
    color: #0e4bf1;
}

